Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: migrations
        name: Find missing Django migrations
        entry: upperroom makemigrations --dry-run --check
        language: python
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: poetry-check
        name: Validate the structure of the pyproject.toml file
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/pre-commit/mirrors-csslint
    rev: v1.0.5
    hooks:
      - id: csslint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key

Dependency updates
  uv.lock
Due: none

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Dependency updates
  pyproject.toml
  uv.lock
Due: poetry-check

Redirect private resouces to the login page
  upperroom/resources/tests/test_auth.py
  upperroom/resources/views.py
Due: migrations, pylint

Don't show archived members in birthday and anniversary lists
  upperroom/directory/views.py
Due: migrations, pylint

Dependency updates
  poetry.lock
Due: none

Add build tags to test images
  .github/workflows/docker.yml
Due: none

Removed build tags on test images
  .github/workflows/docker.yml
Due: none

Added support for Django 6.1
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  pyproject.toml
  upperroom/directory/admin.py
  upperroom/resources/admin.py
  upperroom/settings.py
  upperroom/utils/tasks.py
  upperroom/weblog/admin.py
  uv.lock
Due: migrations, poetry-check, pylint

Show roster links in the portal all the time
  upperroom/roster/templates/roster/portal_details.html
Due: none

Added the option to flag draft prints with a watermark
  upperroom/directory/management/commands/directorypdf.py
  upperroom/directory/templates/directory/print_base.html
  upperroom/directory/templates/directory/print_compact_base.html
  upperroom/directory/utils.py
  upperroom/directory/views.py
  upperroom/roster/management/commands/rosterpdf.py
  upperroom/roster/templates/admin/app_index.html
  upperroom/roster/templates/roster/pdf_base.html
  upperroom/roster/views.py
Due: migrations, pylint

Fixed handling of birthdays in the directory printout
  upperroom/directory/views.py
Due: migrations, pylint

Removed reference to obsolete bleach build
  pyproject.toml
Due: poetry-check
