Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

migrations:
  name: Find missing Django migrations
  entry: upperroom makemigrations --dry-run --check
  language: python
  pass_filenames: false
  require_serial: true

poetry-check:
  name: Validate the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

Removed obsolete pylint exclusions
  upperroom/members/portals.py
  upperroom/resources/admin.py
  upperroom/resources/feeds.py
  upperroom/resources/middleware.py
  upperroom/roster/admin.py
  upperroom/search/managers.py
  upperroom/weblog/admin.py
Due: migrations, pylint

Removed obsolete pylint exclusions
  upperroom/directory/admin.py
Due: migrations, pylint

Added the name of the user modifying a directory entry in the notifcation email
  upperroom/directory/admin.py
  upperroom/directory/signals.py
  upperroom/directory/templates/directory/update_notify.html
  upperroom/directory/templates/directory/update_notify.txt
  upperroom/directory/views.py
Due: migrations, pylint

Dependency updates
  poetry.lock
Due: none

Replaced obsolete set-output command in GitHub Actions
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Upgraded the checkout action in GitHub Actions
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Upgraded the setup-python action in GitHub Actions
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Upgraded Docker actions in GitHub Actions
  .github/workflows/docker.yml
Due: none

Fixed os imports in GitHub Actions
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Poetry update
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 2.8.2 release
  pyproject.toml
Due: poetry-check

Poetry and dependency update
  Dockerfile
  poetry.lock
Due: none

Try to remove duplicate runs when tags are pushed
  .github/workflows/docker.yml
Due: none

Dependency updates
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Allow members to search with their email address when creating an account
  upperroom/members/views.py
Due: migrations, pylint

Finalised the 2.8.3 release
  pyproject.toml
Due: poetry-check

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 2.8.4 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.5 release
  pyproject.toml
Due: poetry-check

Fixed date field formats
  upperroom/directory/forms.py
Due: migrations, pylint

Finalised the 2.8.6 release
  pyproject.toml
Due: poetry-check

Poetry and dependency update
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Put the roster download links only on the Roster index page
  upperroom/roster/templates/admin/app_index.html
Due: none

Poetry update
  pyproject.toml
Due: poetry-check

Finalised the 2.8.7 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.8 release
  pyproject.toml
Due: poetry-check

Tweaked the poetry version for Docker builds
  Dockerfile
Due: none

Django 4.2 support
  poetry.lock
  pyproject.toml
  upperroom/settings.py
  upperroom/utils/storages/attachment.py
Due: migrations, poetry-check, pylint

Added YAML linting
  .pre-commit-config.yaml
  .yamllint.yaml
Due: none

Updated Docker build and GitHub actions
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  poetry.lock
Due: none

Finalised the 2.8.9 release
  pyproject.toml
Due: poetry-check

Make sure dev dependencies are installed when testing upon release
  .github/workflows/release.yml
Due: none

Make sure accounts can't be created for people who already have an account
  upperroom/members/views.py
Due: migrations, pylint

Show people with existing accounts when trying to create a new account
  upperroom/members/templates/members/create_search.html
  upperroom/members/views.py
Due: migrations, pylint

Do more flexible tokenised searches in the Directory
  upperroom/directory/views.py
Due: migrations, pylint

Path conditions:
  migrations: any of: \.py$
  poetry-check: any of: pyproject.toml
  pylint: any of: \.py$
