Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: migrations
    name: Find missing Django migrations
    entry: upperroom makemigrations --dry-run --check
    language: python
    types: [python]
    pass_filenames: false
    require_serial: true
  - id: poetry-check
    name: Validate the structure of the pyproject.toml file
    entry: poetry check
    language: system
    files: pyproject.toml
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-ast
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.4.2
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
- repo: https://github.com/pre-commit/mirrors-csslint
  rev: v1.0.5
  hooks:
  - id: csslint
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: end-of-file-fixer
  - id: debug-statements
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: detect-private-key

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 3.0.2 release
  pyproject.toml
Due: poetry-check

Dependency updates
  poetry.lock
Due: none

Finalised the 3.0.3 release
  pyproject.toml
Due: poetry-check

Added the ability to pin a resource to appear first in listings
  upperroom/resources/admin.py
  upperroom/resources/migrations/0007_resource_is_pinned.py
  upperroom/resources/models.py
  upperroom/resources/views.py
Due: migrations, pylint

Finalised the 3.0.4 release
  pyproject.toml
Due: poetry-check

Finalised the 3.0.5 release
  pyproject.toml
Due: poetry-check

Finalised the 3.0.6 release
  pyproject.toml
Due: poetry-check

Finalised the 3.0.7 release
  pyproject.toml
Due: poetry-check

Upgraded to Django 5.1
  poetry.lock
  pyproject.toml
  upperroom/directory/signals.py
  upperroom/newsletter/templates/newsletter/index.html
  upperroom/resources/templates/resources/resource_list.html
  upperroom/search/templates/search/results.html
  upperroom/weblog/templates/weblog/weblog_list.html
Due: migrations, poetry-check, pylint

Fixed version conflicts
  poetry.lock
  pyproject.toml
Due: poetry-check

Added migration step to test deployment instructions
  README.md
Due: none

Improved templates to work nicer with sub-projects
  upperroom/directory/templates/directory/family_form.html
  upperroom/library/templates/library/base.html
  upperroom/members/templates/members/index.html
  upperroom/resources/templates/resources/base.html
  upperroom/templates/flatpages/default.html
  upperroom/templates/site/base.html
  upperroom/templates/site/header.html
  upperroom/templates/site/messages.html
  upperroom/templates/site/navbar.html
Due: none

Finalised the 3.1.0 release
  pyproject.toml
Due: poetry-check

Finalised the 3.1.1 release
  pyproject.toml
Due: poetry-check

Finalised the 3.1.2 release
  pyproject.toml
Due: poetry-check

Finalised the 3.1.3 release
  pyproject.toml
Due: poetry-check

Finalised the 3.1.4 release
  pyproject.toml
Due: poetry-check

Expanded several model field limits
  upperroom/directory/migrations/0003_expand_field_limits.py
  upperroom/directory/models.py
  upperroom/resources/migrations/0008_expand_field_limits.py
  upperroom/resources/models.py
  upperroom/roster/migrations/0003_expand_field_limits.py
  upperroom/roster/models.py
  upperroom/splash/migrations/0003_expand_field_limits.py
  upperroom/splash/models.py
  upperroom/weblog/migrations/0005_expand_field_limits.py
  upperroom/weblog/models.py
Due: migrations, pylint

Sort roster servers properly when they don't have past instances
  upperroom/roster/forms.py
Due: migrations, pylint

Fixed anniversary and birthday headers
  upperroom/directory/templates/directory/anniversary_list_detail.html
  upperroom/directory/templates/directory/birthday_list_detail.html
Due: none

Removed CSS duplication
  upperroom/resources/templates/resources/base.html
Due: none

Added Roster Builder exclusion dates
  upperroom/resources/admin.py
  upperroom/roster/admin.py
  upperroom/roster/forms.py
  upperroom/roster/migrations/0004_roster_exclusions.py
  upperroom/roster/models.py
  upperroom/roster/static/style/builder.css
  upperroom/roster/templates/roster/builder.html
  upperroom/roster/views.py
  upperroom/weblog/admin.py
Due: migrations, pylint

Added archived families
  upperroom/directory/admin.py
  upperroom/directory/migrations/0004_family_is_archived.py
  upperroom/directory/models.py
  upperroom/directory/templates/directory/print_base.html
  upperroom/directory/templates/directory/print_compact_base.html
  upperroom/directory/templates/directory/print_compact_table.html
  upperroom/directory/views.py
Due: migrations, pylint

Updated various admin actions and filters
  upperroom/directory/admin.py
  upperroom/resources/admin.py
  upperroom/roster/admin.py
  upperroom/weblog/admin.py
Due: migrations, pylint

Changes to handling of current and archived families
  upperroom/directory/management/commands/directorypdf.py
  upperroom/directory/models.py
  upperroom/directory/templates/directory/family_archived.html
  upperroom/directory/templates/directory/index.html
  upperroom/directory/templates/directory/print_archived_table.html
  upperroom/directory/templates/directory/print_base.html
  upperroom/directory/templates/directory/print_compact_base.html
  upperroom/directory/urls.py
  upperroom/directory/views.py
Due: migrations, pylint

Tool updates
  .github/workflows/docker.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check
