Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: migrations
        name: Find missing Django migrations
        entry: upperroom makemigrations --dry-run --check
        language: python
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: poetry-check
        name: Validate the structure of the pyproject.toml file
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/pre-commit/mirrors-csslint
    rev: v1.0.5
    hooks:
      - id: csslint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key

Finalised the 3.3.5 release
  pyproject.toml
Due: poetry-check

Handle errors and warnings better when importing the roster
  upperroom/roster/management/commands/roster_import.py
Due: migrations, pylint

Delete Roles when their RoleType is deleted
  upperroom/roster/migrations/0005_role_type_cascade.py
  upperroom/roster/models.py
Due: migrations, pylint

Dependency updates
  poetry.lock
Due: none

Added a Markdown filter for embedding YouTube videos
  upperroom/settings.py
  upperroom/utils/md/vid.py
  upperroom/utils/md/yt.py
Due: migrations, pylint

Fixed versioning
  version.py
Due: migrations, pylint

Upgraded to Django 6.0
  Dockerfile
  poetry.lock
  pyproject.toml
  upperroom/members/urls.py
  upperroom/roster/urls.py
  upperroom/settings.py
Due: migrations, poetry-check, pylint

Added uWSGI configuration
  uwsgi.ini
Due: none

Further Django 6 and uWSGI tweaks
  docker-compose.yml
  gunicorn.py
  upperroom/settings.py
  uwsgi.ini
Due: migrations, pylint

Fix Docker health check for uWSGI
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Fixed media embed detection using bare links
  upperroom/utils/media.py
Due: migrations, pylint

Set maximum requests for a uWSGI process
  uwsgi.ini
Due: none

Parse more package URLs
  upperroom/members/views.py
Due: migrations, pylint

Added permission to restrict editing of Resources to Resources you own
  upperroom/resources/admin.py
  upperroom/resources/migrations/0009_add_resource_owner.py
  upperroom/resources/models.py
Due: migrations, pylint

Removed obsolete command module
  upperroom/resources/management/commands/__init__.py
Due: migrations, pylint

Dependency updates
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Added Task support for sending Roster emails
  upperroom/roster/management/commands/sendrosteremails.py
  upperroom/roster/tasks.py
  upperroom/roster/utils.py
Due: migrations, pylint

Added Task support for generating Directory PDFs
  upperroom/directory/management/commands/directorypdf.py
  upperroom/directory/tasks.py
  upperroom/directory/utils.py
Due: migrations, pylint

Send Roster emails as more granular tasks
  upperroom/roster/tasks.py
  upperroom/roster/utils.py
  upperroom/utils/tasks.py
Due: migrations, pylint

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Migrated from poetry to uv
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check

Fixed uv locking
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

Include pip in the created venv
  Dockerfile
Due: none

Keep .venv out of the repo
  .gitignore
Due: none

Dependency updates
  README.md
  pyproject.toml
  uv.lock
Due: poetry-check

Check migrations with the uv environment
  .pre-commit-config.yaml
Due: none

Run pylint checks through the uv environment
  .pre-commit-config.yaml
Due: none

Improved handling of media attachments
  upperroom/resources/templates/resources/resource_detail.html
  upperroom/resources/views.py
  upperroom/settings.py
  upperroom/utils/md/media.py
  upperroom/utils/md/vid.py
  upperroom/utils/md/yt.py
  upperroom/weblog/templates/weblog/weblog_detail.html
  upperroom/weblog/views.py
Due: migrations, pylint

Dependency updates
  uv.lock
Due: none

Dependency updates
  pyproject.toml
  uv.lock
Due: poetry-check

Add git to the compile image to allow for git dependencies
  Dockerfile
Due: none

Fixed tasks sending Roster emails
  upperroom/roster/utils.py
  upperroom/settings.py
  upperroom/utils/tasks.py
Due: migrations, pylint

Replaced AWS SES email module
  pyproject.toml
  uv.lock
Due: poetry-check

Ensure test emails use the console backend
  upperroom/roster/utils.py
  upperroom/utils/tasks.py
Due: migrations, pylint

Added config used by django-ses
  upperroom/settings.py
Due: migrations, pylint

Fixed handling of Directory downloads on S3
  upperroom/directory/views.py
Due: migrations, pylint

Pass arguments to the sendrosteremails function
  upperroom/commands.py
Due: migrations, pylint
