Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

migrations:
  name: Find missing Django migrations
  entry: upperroom makemigrations --dry-run --check
  language: python
  pass_filenames: false
  require_serial: true

poetry-check:
  name: Validate the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

Make sure Family photos are processed in the right order when being created
  upperroom/directory/signals.py
Due: migrations, pylint

Tweaked podcast link wording
  upperroom/resources/templates/resources/tag.html
Due: none

Dependency updates
  poetry.lock
Due: none

Dependency updates
  .github/workflows/docker.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Dependency updates
  Dockerfile
Due: none

Finalised the 2.8.22 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.23 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.24 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.25 release
  pyproject.toml
Due: poetry-check

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Keep non-current people out of birthday and anniversary views
  upperroom/directory/management/commands/directorypdf.py
  upperroom/directory/models.py
  upperroom/directory/views.py
Due: migrations, pylint

Use OpenBSD netcat to support IPv6
  Dockerfile
Due: none

Added a compact ddirectory PDF layout
  upperroom/directory/management/commands/directorypdf.py
  upperroom/directory/templates/directory/index.html
  upperroom/directory/templates/directory/print_compact.html
  upperroom/directory/templates/directory/print_compact_base.html
  upperroom/directory/urls.py
  upperroom/directory/views.py
Due: migrations, pylint

Dependency updates
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Handle surname overrides in the compact directory PDF
  upperroom/directory/templates/directory/print_compact_base.html
Due: none

Finalised the 2.8.26 release
  pyproject.toml
Due: poetry-check

Fixed a bug setting non-current people to current when their family is updated
  upperroom/directory/models.py
Due: migrations, pylint

Include personal suffixes in the compact directory print
  upperroom/directory/templates/directory/print_compact_base.html
Due: none

Have gunicorn listen in IPv6 addresses
  Dockerfile
Due: none

Have gunicorn log actual client IP addresses
  gunicorn.py
Due: migrations, pylint

Finalised the 2.8.27 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.28 release
  pyproject.toml
Due: poetry-check

Added python-lsp-server for development
  poetry.lock
  pyproject.toml
Due: poetry-check

Django5 upgrade
  Dockerfile
  poetry.lock
  pyproject.toml
  upperroom/resources/migrations/0007_podcasts.py
  upperroom/settings.py
Due: migrations, poetry-check, pylint

Added libffi dependencies
  Dockerfile
Due: none

Fixed typo
  Dockerfile
Due: none

Fix gcc install
  Dockerfile
Due: none

Fixed install order for poetry
  Dockerfile
Due: none

Updated GitHub actions and moved to Python 3.12
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

Tweaked platform reported on the Tech Details page
  upperroom/members/views.py
Due: migrations, pylint

Finalised the 3.0.0 release
  pyproject.toml
Due: poetry-check

Finalised the 3.0.1 release
  pyproject.toml
Due: poetry-check

Path conditions:
  migrations: any of: \.py$
  poetry-check: any of: pyproject.toml
  pylint: any of: \.py$
