Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: migrations
    name: Find missing Django migrations
    entry: upperroom makemigrations --dry-run --check
    language: python
    types: [python]
    pass_filenames: false
    require_serial: true
  - id: poetry-check
    name: Validate the structure of the pyproject.toml file
    entry: poetry check
    language: system
    files: pyproject.toml
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-ast
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.4.2
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
- repo: https://github.com/pre-commit/mirrors-csslint
  rev: v1.0.5
  hooks:
  - id: csslint
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: end-of-file-fixer
  - id: debug-statements
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: detect-private-key

Added Directory to the site-wide search query
  upperroom/directory/models.py
  upperroom/directory/templates/directory/search_result.html
  upperroom/directory/tests/test_auth.py
  upperroom/search/managers.py
  upperroom/search/views.py
Due: migrations, pylint

Dependency updates
  poetry.lock
Due: none

Finalised the 2.8.10 release
  pyproject.toml
Due: poetry-check

Fixed poetry issues when building
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Finalised the 2.8.10-1 release
  pyproject.toml
Due: poetry-check

Fixed poetry issues when building
  .github/workflows/release.yml
Due: none

Finalised the 2.8.10-2 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.11 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.12 release
  pyproject.toml
Due: poetry-check

Dependency updates
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 2.8.13 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.14 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.15 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.16 release
  pyproject.toml
Due: poetry-check

Added friendly anchor text for multimedia resources
  upperroom/resources/models.py
  upperroom/resources/templates/resources/resource_list.html
  upperroom/resources/templates/resources/search_result.html
  upperroom/utils/media.py
  upperroom/weblog/models.py
  upperroom/weblog/templates/weblog/search_result.html
  upperroom/weblog/templates/weblog/weblog_list.html
Due: migrations, pylint

Fixed broken strings
  upperroom/resources/migrations/0003_featured.py
  upperroom/resources/models.py
Due: migrations, pylint

Fixed logic for multimedia anchor text
  upperroom/utils/media.py
Due: migrations, pylint

Use a single regex for multimedia anchor text
  upperroom/utils/media.py
Due: migrations, pylint

Finalised the 2.8.17 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.18 release
  pyproject.toml
Due: poetry-check

Finalised the 2.8.19 release
  pyproject.toml
Due: poetry-check

Fixed weblog anchors
  upperroom/weblog/models.py
  upperroom/weblog/templates/weblog/weblog_list.html
Due: migrations, pylint

Fixed search view anchors
  upperroom/resources/templates/resources/search_result.html
  upperroom/weblog/templates/weblog/search_result.html
Due: none

Finalised the 2.8.20 release
  pyproject.toml
Due: poetry-check

Fixed issue creating roster meetings
  upperroom/roster/models.py
Due: migrations, pylint

Finalised the 2.8.21 release
  pyproject.toml
Due: poetry-check

Support IPv6-only S3 backends
  upperroom/utils/storages/backends.py
Due: migrations, pylint

Keep meetings grouped together on printed rosters
  upperroom/roster/templates/roster/pdf_base.html
Due: none
