Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: migrations
    name: Find missing Django migrations
    entry: upperroom makemigrations --dry-run --check
    language: python
    types: [python]
    pass_filenames: false
    require_serial: true
  - id: poetry-check
    name: Validate the structure of the pyproject.toml file
    entry: poetry check
    language: system
    files: pyproject.toml
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-ast
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.4.2
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
- repo: https://github.com/pre-commit/mirrors-csslint
  rev: v1.0.5
  hooks:
  - id: csslint
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: end-of-file-fixer
  - id: debug-statements
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: detect-private-key

Added builds for arm64
  .github/workflows/docker.yml
Due: none

Added permission to allow or disallow marking resources as published
  upperroom/resources/admin.py
  upperroom/resources/migrations/0006_add_publish_permission.py
  upperroom/resources/models.py
Due: migrations, pylint

Moved to Python 3.10 by default
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Fixed Python 3.10 for GitHub actions
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Track the latest PostgreSQL release
  docker-compose.yml
Due: none

Finalised the 2.7.0 release
  pyproject.toml
Due: poetry-check

Fixed Docker builds when a tag is pushed
  .github/workflows/docker.yml
Due: none

Fixed syntax error
  .github/workflows/docker.yml
Due: none

Make sure pip is up to date in the build environment
  Dockerfile
Due: none

Dependency updates
  poetry.lock
Due: none

Finalised the 2.7.1 release
  pyproject.toml
Due: poetry-check

Fixed logging of sent Roster emails
  upperroom/roster/management/commands/sendrosteremails.py
Due: migrations, pylint

Tidied up the Docker image to use effective caching
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Due: none

Added accessibilty link to skip navigation
  upperroom/newsletter/templates/newsletter/index.html
  upperroom/resources/templates/resources/resource_list.html
  upperroom/roster/templates/roster/builder.html
  upperroom/roster/templates/roster/index.html
  upperroom/roster/templates/roster/meeting_archive_month.html
  upperroom/templates/site/base.html
  upperroom/weblog/templates/weblog/weblog_list.html
Due: none

Finalised the 2.7.2 release
  pyproject.toml
Due: poetry-check

Poetry update
  Dockerfile
Due: none

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 2.7.3 release
  pyproject.toml
Due: poetry-check

Finalised the 2.7.4 release
  pyproject.toml
Due: poetry-check

Fixed some quoting, improving UTF-8 support
  upperroom/roster/templates/roster/person_event.ics
  upperroom/roster/templates/roster/person_task.ics
  upperroom/roster/templates/roster/reminder.txt
  upperroom/templates/site/base.html
Due: none

Dependency updates
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Fixed attachment drag handles in dark mode
  upperroom/resources/static/style/admin/resources.css
  upperroom/weblog/static/style/admin/weblog.css
Due: none

Fixed file uploads on non-S3 storage
  upperroom/resources/migrations/0003_rename_files.py
  upperroom/resources/signals.py
  upperroom/utils/storages/__init__.py
Due: migrations, pylint

Added support for embedded videos
  upperroom/resources/static/scripts/resources/admin_dnd.js
  upperroom/resources/templates/resources/resource_detail.html
  upperroom/utils/mdvid/__init__.py
  upperroom/weblog/static/scripts/weblog/admin_dnd.js
  upperroom/weblog/templates/weblog/weblog_detail.html
Due: migrations, pylint

Removed obsolete pylint tests
  pyproject.toml
Due: poetry-check

Finalised the 2.7.5 release
  pyproject.toml
Due: poetry-check

Keep user status in sync with the associated Person
  upperroom/directory/models.py
Due: migrations, pylint

Do more flexible tokenised searches for user member associations
  upperroom/members/views.py
Due: migrations, pylint

Dependency updates, including Django 4.1
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  poetry.lock
  pyproject.toml
  upperroom/settings.py
Due: migrations, poetry-check, pylint

Resolved deprecation issues
  pyproject.toml
  upperroom/settings.py
Due: migrations, poetry-check, pylint

Replaced django-markwhat with django-markdownify
  poetry.lock
  pyproject.toml
  upperroom/newsletter/templates/newsletter/index.html
  upperroom/resources/templates/resources/author.html
  upperroom/resources/templates/resources/resource_detail.html
  upperroom/resources/templates/resources/resource_list.html
  upperroom/resources/templates/resources/search_result.html
  upperroom/resources/templates/resources/tag.html
  upperroom/settings.py
  upperroom/splash/templates/splash/splash.html
  upperroom/weblog/templates/weblog/search_result.html
  upperroom/weblog/templates/weblog/weblog_detail.html
  upperroom/weblog/templates/weblog/weblog_list.html
Due: migrations, poetry-check, pylint

Moved to Python 3.11 by default
  Dockerfile
Due: none

Finalised the 2.8.0 release
  pyproject.toml
Due: poetry-check

Added CSP media-src
  upperroom/settings.py
Due: migrations, pylint

Finalised the 2.8.1 release
  pyproject.toml
Due: poetry-check

Include the user name in the password reset email
  upperroom/members/templates/registration/password_reset_email.html
Due: none
