Repository thepointchurch/upperroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations, poetry-check, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: migrations
        name: Find missing Django migrations
        entry: upperroom makemigrations --dry-run --check
        language: python
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: poetry-check
        name: Validate the structure of the pyproject.toml file
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/pre-commit/mirrors-csslint
    rev: v1.0.5
    hooks:
      - id: csslint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key

Finalised the 3.2.0 release
  pyproject.toml
Due: poetry-check

Use dualstack S3 endpoints if configured
  upperroom/settings.py
Due: migrations, pylint

Filter weblog entries by the specific creation date
  upperroom/weblog/views.py
Due: migrations, pylint

Dependency updates
  poetry.lock
Due: none

Finalised the 3.2.1 release
  pyproject.toml
Due: poetry-check

Dependency updates
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 3.2.2 release
  pyproject.toml
Due: poetry-check

Finalised the 3.2.3 release
  pyproject.toml
Due: poetry-check

Postponed django-csp upgrade
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 3.2.4 release
  pyproject.toml
Due: poetry-check

Django 5.2 upgrade
  poetry.lock
  pyproject.toml
  upperroom/directory/forms.py
  upperroom/directory/templates/directory/search_form.html
  upperroom/library/templates/library/search_form.html
  upperroom/resources/models.py
Due: migrations, poetry-check, pylint

Upgraded django-csp
  poetry.lock
  pyproject.toml
  upperroom/members/urls.py
  upperroom/roster/urls.py
  upperroom/settings.py
Due: migrations, poetry-check, pylint

Finalised the 3.3.0 release
  pyproject.toml
Due: poetry-check

Dependency updates
  poetry.lock
  pyproject.toml
Due: poetry-check

Finalised the 3.3.1 release
  pyproject.toml
Due: poetry-check

Finalised the 3.3.2 release
  pyproject.toml
Due: poetry-check

Finalised the 3.3.3 release
  pyproject.toml
Due: poetry-check

Finalised the 3.3.4 release
  pyproject.toml
Due: poetry-check

Reorganised publishing data for Resources and Weblogs
  upperroom/resources/admin.py
  upperroom/weblog/admin.py
Due: migrations, pylint

Handle slug prefixes better when they would create a duplicate slug
  upperroom/resources/admin.py
  upperroom/resources/models.py
  upperroom/resources/signals.py
Due: migrations, pylint

Handle when slug prefixes are needed to ensure uniqueness
  upperroom/resources/admin.py
Due: migrations, pylint

Added roster import command
  upperroom/roster/management/commands/roster_import.py
Due: migrations, pylint

Removed obsolete storage customisations
  pyproject.toml
  upperroom/resources/management/commands/check_media_permissions.py
  upperroom/resources/migrations/0003_rename_files.py
  upperroom/resources/signals.py
  upperroom/resources/views.py
  upperroom/settings.py
  upperroom/utils/storages/__init__.py
  upperroom/utils/storages/attachment.py
  upperroom/utils/storages/backends.py
  upperroom/weblog/signals.py
Due: migrations, poetry-check, pylint

Fixed creating new Resources when no prefix is calculated
  upperroom/resources/admin.py
Due: migrations, pylint

Dependency updates
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-check

Shuffled STORAGES config for S3 buckets
  upperroom/settings.py
Due: migrations, pylint

Fixed dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

Use keyword args when sending emails
  upperroom/roster/management/commands/sendrosteremails.py
Due: migrations, pylint
